<h1>Tada Data sample DB</h1>
<p>This is a partial implementation of a data broker database.</p>
<%= link_to "Check data suppliers", controller: 'suppliers' %><br>
<%= link_to "Browse data", controller: 'data' %><br> 
